<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="Addresses" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="Phrase" value="podaj frazę do wyszukania"/>
    <add key="Title" value="podaj jakiś tytuł reklamy"/>
    <add key="HourFrom" value="8"/>
    <add key="HourTo" value="16"/>
  </appSettings>
  <Addresses>
    <add key="91.226.45.94:8080" value=""></add>
    <add key="145.239.81.69:8080" value=""></add>
    <add key="178.217.216.184:49086" value=""></add>
    <add key="185.18.140.236:41258" value=""></add>
    <add key="176.115.250.2:3128" value=""></add>
    <add key="145.239.81.69:3128" value=""></add>
  </Addresses>
</configuration>