<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="Addresses" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="Phrase" value="podaj frazę do wyszukania"/>
    <add key="Title" value="podaj jakiś tytuł reklamy"/>
    <add key="HourFrom" value="9"/>
    <add key="HourTo" value="16"/>
  </appSettings>
  <Addresses>
    <add key="91.150.189.122:35488" value=""></add>
    <add key="192.166.219.46:3128" value=""></add>
    <add key="77.252.26.71:55077" value=""></add>
    <add key="145.239.81.69:8080" value=""></add>
    <add key="178.219.123.135:8080" value=""></add>
    <add key="51.38.129.41:6969" value=""></add>
  </Addresses>
</configuration>
